<!--   -->
<section id="authsign" class=" row large-8">

    <div class="small-10 small-centered columns shadow" style="background-color: white;
    margin-top: 30px; margin-bottom: 50px;">
        <div class="row" style="padding-top: 10px; border-bottom: 1px solid #D8D8D8 ;">
            <div class="column" style="text-align: center">
                <h5>No account? Create an account or login</h5>
            </div>
            <!--<hr>-->
        </div> <!-- END -->

        <!-- SIGN UP FORM  -->
        <section class="row">
            <div class="column large-6">
                <form style="border: 1px solid #D8D8D8; padding: 10px; margin-bottom: 10px; margin-top:10px;"
                      class=" userForm" name="adminForm" ng-submit="signUp()" novalidate>
                    <h5>Sign Up</h5>
                    <p class=" validationError" ng-show="successError">
                        {{sigUpError}}</p>
                    <p class="validationSuccess" ng-show="success">
                        {{signSuccess}}</p>
                    <div class="registration medium-12 large-12 medium-centered ">
                        <input type="text" name="apartmentName" ng-model="apartmentName" placeholder="apartment name"
                               ng-required="true">
                        <p class="validationError" ng-show="adminForm.apartmentName.$invalid && adminForm.apartmentName.$touched">
                            {{apartmentNameError}}</p>

                        <input type="email" name="apartmentEmail" ng-model="apartmentEmail" placeholder="email"
                               ng-required="true">
                        <p class="validationError" ng-show="adminForm.apartmentEmail.$invalid && adminForm.apartmentEmail.$touched">
                            {{emailERROR}}</p>

                        <input type="password" name="apartmentPassword" ng-model="apartmentPassword" placeholder="Password"
                               ng-required="true" maxlength="8">
                        <p class="validationError" ng-show="adminForm.apartmentPassword.$invalid && adminForm.apartmentPassword.$touched">
                            {{passwordERROR}}</p>

                        <p class="help-text" id="passwordHelpText">Password must have 8 characters, a number and
                            uppercase letter.</p>
                        <button class="button small-12" type="submit" ng-disabled="adminForm.$invalid">Sign up</button>
                    </div>
                </form> <!-- END OF FORM -->
            </div> <!-- END OF SIGN UP -->

            <!-- LOGIN FORM -->
            <div class="large-6 columns">
                <form style="border: 1px solid #D8D8D8; padding: 10px; margin-bottom: 10px; margin-top:10px;"
                      name="loginForm" ng-submit="login()" novalidate>
                    <h5>Login</h5>
                    <p class="validationError" ng-show="[{if fail}]">
                        {{loginSuccess}}</p>
                    <div class="registration medium-12 large-12 medium-centered">
                        <input type="email" name="loginEmail" ng-model="loginEmail" placeholder="Email"
                               ng-required="true">
                        <p class="validationError" ng-show="loginForm.loginEmail.$invalid && loginForm.loginEmail.$touched">
                            {{loginEmailError}}</p>
                        <input type="password" name="loginPassword" ng-model="loginPassword" placeholder="Password"
                               ng-required="true">
                        <p class="validationError" ng-show="loginForm.loginPassword.$invalid && loginForm.loginPassword.$touched">
                            {{loginPasswordError}}</p>
                        <button class="button small-12" name="button" type="submit" ng-disabled="loginForm.$invalid">
                            Login
                        </button>
                    </div>
                </form> <!-- END OF FORM -->
            </div> <!-- END -->
        </section>
    </div>
    <div class="columns privacy-style">
        <a href="#">Privacy Policy</a> </p>
    </div>
</section>

<!--   END  -->